body {
    background: #d0b0fa;
    font-family: arial;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 15px;
	margin-bottom: 10px;
  }
  
  .container {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .inner-container {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 75%;
    min-width: 200px;
    max-width: 500px;
  }
  
  .dummy {
    margin-top: 100%;
  }
  
  .grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .space {
    text-align: center;
    box-sizing: border-box;
    border: 0.5px solid lightgray;
    float: left;
    background: white;
  }
  
  #x4 .space {
    width: 25%;
    height: 25%;
    font-size: 40px;
  }
  
  #x6 .space {
    width: 16.6%;
    height: 16.6%;
    font-size: 25px;
  }
  
  #x9 .space {
    width: 11.1%;
    height: 11.1%;
    font-size: 16px;
  }
  
  .bt {
    border-top: 2px solid black;
  }
  
  .bb {
    border-bottom: 2px solid black;
  }
  
  .bl {
    border-left: 2px solid black;
  }
  
  .br {
    border-right: 2px solid black;
  }
  
  .hide {
    display: none;
  }

  .button {
    padding: 5px 10px;
    font-size: 18px;
    background: white;
    color: #ab7bfa;
    border: 2px solid #ab7bfa;
  }
  
  .button:hover {
    background: #ab7bfa;
    color: white;
    border: 2px solid #ab7bfa;
  }
  
  .selected {
    background: #ab7bfa;
    color: white;
    border: 2px solid white;
  }
  
  #error-message {
    color: #ff0000;
    font-size:20px;
  }
  
  #solve {
    background: white;
	margin-left:20px ;
  }
#solve:hover{
	background: #ab7bfa;
	margin-top: 10px;
}
  
  #clear {
    background: white;
	margin-right:20px ;
	margin-top: 10px;
  }
  #clear:hover {
	background: #ab7bfa;
  }