table{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}
h1{
    color: cornflowerblue;
    
}
input{
    background-color: violet;
    color: white;
    border: none;
    padding: 10px;
    border: solid white;
    
}
button{
    background-color: violet;
    color: white;
    border: none;
    padding: 10px 10px ;
    margin-right: 10px;
    margin-left: 10px;
    font-size: medium;
    margin-top: 10px;
    border:solid white 2px;
    

}
button:hover{
    color: violet;
    background-color: white;
}
td{
    font-size: 22px;

}
